image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

services:
  - mysql
environment:
  MYSQL_RANDOM_ROOT_PASSWORD: yes
  MYSQL_DATABASE: app
  MYSQL_USER: app
  MYSQL_PASSWORD: pass
  #nodejs_version: "6"

artifacts:
  - path: artifacts
    name: application

  - path: gate-simulator

install:
  - npm install
  #- java -jar ./artifacts/aqa-shop.jar &
  - java -jar ./artifacts/aqa-shop.jar spring.credit-gate.url=http://localhost:9999/credit spring.payment-gate.url=http://localhost:9999/payment spring.datasource.url=jdbc:mysql://localhost:3306/app spring.datasource.username=app spring.datasource.password=pass &

build: off

build_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true