image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

services:
  - mysql

environment:
  nodejs_version: "6"

install:
  - ps: Install-Product node 6.9.3 x64
  - npm install
  - java -jar ./artifacts/aqa-shop.jar

artifacts:
  - path: artifacts

  - path: gate-simulator
build: off

build_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true