image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

build: off
services:
  - mysql

install:
  - java -jar ./artifacts/aqa-shop.jar


build_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true