image: Ubuntu

stack: jdk 11

branches:
  only:
    - master


services:
  - mysql

install:
  - java -jar ./artifacts/aqa-shop.jar

artifacts:
  - path: artifacts
    name: application
    type: properties

  - path: gate-simulator

build_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true