image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

services:
  - mysql
environment:
  MYSQL_RANDOM_ROOT_PASSWORD: yes
  MYSQL_DATABASE: app
  MYSQL_USER: app
  MYSQL_PASSWORD: pass


artifacts:
  - path: artifacts
    name: application

  - path: gate-simulator

build: off

install:
  - npm install
  - sleep 25
  - java -jar artifacts/aqa-shop.jar &


build_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true